.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.app-container .app-content {
  height: 100%;
}
.App .app-left-nav {
  /* height: 100%; */
  position: relative;
}
.app-left-nav-search {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
}

.app-left-nav-list {
  position: absolute;
  top: 80px;
  bottom: 80px;
  left: 15px;
  right: 15px;
  box-sizing: border-box;
}

.app-left-nav-bottom {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 16px;
}
